{% extends 'core/base.html' %}

{% block content %}
  <h2 class="font-mono font-bold text-3xl text-center pb-5 pt-10 bg-gray-200 ">Create a Bank Account</h2>

  <form method="POST" class="bg-gray-300 shadow-md rounded px-8 pt-6 pb-8 mb-4">
    {% csrf_token %}
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label for="account_type" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Account Type:</label>
      <select name="account_type" id="account_type">
        {% for account_type in account_types %}
          <option value="{{ account_type.id }}">{{ account_type.name }}</option>
        {% endfor %}
      </select>
      </div>
    </div>
    <div  class="flex flex-wrap -mx-3 mb-6">
      <div  class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label for="account_no" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Account Number:</label>
      <input type="number" name="account_no" id="account_no" >
      </div>
    </div>
    <div  class="flex flex-wrap -mx-3 mb-6">
     <div  class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label for="gender" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Gender:</label>
      <select name="gender" id="gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
       
      </select>
     </div>
    </div>
    <div  class="flex flex-wrap -mx-3 mb-6">
     <div  class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label for="birth_date" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Birth Date:</label>
      <input type="date" name="birth_date" id="birth_date">
     </div>
    </div>
    <div  class="flex flex-wrap -mx-3 mb-6">
      <div  class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label for="balance" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Balance:</label>
      <input type="number" step="0.01" name="balance" id="balance">
      </div>
    </div>
    
    <div  class="flex flex-wrap -mx-3 mb-6">
      <div  class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label for="initial_deposit_date" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Initial Deposit Date:</label>
      <input type="date" name="initial_deposit_date" id="initial_deposit_date">
      </div>
    </div>
    <div class="flex items-center justify-between">
      <button type="submit" class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Create Account</button>
      
      <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" name="delete" onclick="clearForm()">
        CLEAR
      </button>

    </div>
  </form>
{% endblock %}
<script>
  function clearForm() {
    document.getElementById("account_type").selectedIndex = 0;
    document.getElementById("account_no").value = "";
    document.getElementById("gender").selectedIndex = 0;
    document.getElementById("birth_date").value = "";
    document.getElementById("balance").value = "";
    document.getElementById("initial_deposit_date").value = "";
  }
  </script>