


<nav class="flex items-center justify-between  flex-wrap bg-green-800 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
        <span class="font-semibold text-xl tracking-tight">Techtorial Banking System</span>
    </div>
    <div class="block lg:hidden">
        <button class="flex items-center px-3 py-2 border rounded text-white border-white-400 hover:text-white hover:border-white">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
        </button>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        {% if request.user.is_authenticated %}
            <div class="text-md lg:flex-grow">
                <a href="{% url 'transactions:transaction_report' %}"class="inline-block font-medium text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-white mt-4 lg:mt-0">
                    Transaction Report
                </a>
                <a href="{% url 'transactions:deposit_money' %}" class="inline-block font-medium text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-white mt-4 lg:mt-0">
                    Deposit
                </a>
                <a href="{% url 'transactions:withdraw_money' %}" class="inline-block font-medium text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-white mt-4 lg:mt-0">
                    Withdraw
                </a>
                {% comment %} <a href="{% url 'accounts:create_account' %} " class="inline-block font-medium text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-white mt-4 lg:mt-0">
                    Create a Bank Account
                </a> {% endcomment %}
            </div>
             <div>
                <a href="{% url 'accounts:user_logout' %}" class="inline-block font-medium text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-white mt-4 lg:mt-0">Logout</a>
            </div>
            <div>
                <a href="#" class="inline-block font-medium text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-white mt-4 lg:mt-0">Welcome {{request.user.username}} </a>
            </div>
           
            <div class="relative dropdown ml-3 ">
                <div class="relative dropdown ml-3">
                    <div>
                      <button class="max-w-xs bg-gray-800 rounded-full flex items-center text-sm focus:outline-none focus:shadow-solid" id="user-menu" aria-haspopup="true" onclick="toggleDropdown()">
                        <img class="h-8 w-8 rounded-full" src="{{request.user.image}}" alt="Profile Photo">
                      </button>
                    </div>
                    <div id="dropdown-menu" class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg hidden">
                        <div class="py-1 rounded-md bg-white shadow-xs" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
                          <a href="{% url 'accounts:profile_settings' %}  " class="block px-4 py-2 text-sm text-gray-700 hover:bg-green-400 hover:text-gray-900" role="menuitem">Profile settings</a>
                          <a href="{% url 'accounts:account_settings' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-green-400 hover:text-gray-900" role="menuitem">Accounts settings</a>

                    
                        </div>
                      </div>
        {% else %}
            <div class="text-md lg:flex-grow"></div>
            <div>
                <button class="inline-block font-medium text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-white mt-4 lg:mt-0" onclick="openModal()">Login</button>
              </div>
              
              <div id="my-modal" class="modal">
                <div class="modal-content">
                  
                  <a href="{% url 'accounts:user_login' %}" class="mr-2 inline-block font-medium text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-white mt-4 lg:mt-0">Student</a>
                  <a href="http://127.0.0.1:8000/admin/login/?next=/admin/" class="mr-2 inline-block font-medium text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-white mt-4 lg:mt-0">Admin</a>
                  <button  class="mr-2 inline-block font-medium text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-white mt-4 lg:mt-0" onclick="closeModal()">X</button>
                </div>
              </div>
            <div>
                <a href="{% url 'accounts:user_registration' %}" class="inline-block font-medium text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-white mt-4 lg:mt-0">Register</a>
            </div>
        {% endif %}
    </div>
</nav>

<script>
    function toggleDropdown() {
      var dropdownMenu = document.getElementById("dropdown-menu");
      dropdownMenu.classList.toggle("hidden");
    }

    function openModal() {
        // modal açılacak
        var modal = document.getElementById("my-modal");
        modal.style.display = "block";
      }
    
      function closeModal() {
        // modal kapatılacak
        var modal = document.getElementById("my-modal");
        modal.style.display = "none";
      }

  </script>
