{% extends 'core/base.html' %}

{% block head_title %}Transaction Report{% endblock %}

{% block head_extra %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block content %}
<h1 class="font-mono font-bold text-3xl text-center pb-5 pt-10">Transaction Report</h1>
<hr />
<form method="get">
    <div class="mt-10 h-10 pl-3 pr-2 bg-white border rounded-md border-gray-500 flex justify-between items-center relative">
        <input type="search" name="daterange" id="search" placeholder="Filter using date range" value="{{ request.GET.daterange }}" class="appearance-none w-full outline-none focus:outline-none active:outline-none" />
        <select name="filter" id="filter" class="ml-2 border rounded-md">
            <option value="">Select Filter</option>
            <option value="date"{% if request.GET.filter == 'date' %} selected="selected"{% endif %}>Date</option>
            <option value="deposit"{% if request.GET.filter == 'deposit' %} selected="selected"{% endif %}>Deposit</option>
            <option value="withdraw"{% if request.GET.filter == 'withdraw' %} selected="selected"{% endif %}>Withdraw</option>
            {% comment %} <option value="amount"{% if request.GET.filter == 'amount' %} selected="selected"{% endif %}>Amount</option> {% endcomment %}
        </select>
        <button type="submit" class="ml-2 border rounded-md px-3 py-1 bg-green-500 text-white font-semibold hover:bg-green-600">Filter</button>
    </div>
    {% if form.daterange.errors %}
        {% for error in form.daterange.errors %}
            <p class="text-red-600 text-sm italic">{{ error }}</p>
        {% endfor %}
    {% endif %}
</form>

<table class="table-auto mx-auto w-full mt-8">
<thead class="bg-green-500 text-white">
<tr class="uppercase font-semibold text-sm">
<th class="px-4 py-2">Transaction Type</th>
<th class="px-4 py-2">Date</th>
<th class="px-4 py-2">Amount</th>
<th class="px-4 py-2">Balance After Transaction</th>
</tr>
</thead>
<tbody>
{% for transaction in object_list %}
<tr class="{% cycle 'bg-gray-300' 'bg-white-100' %}">
<td class="border px-4 py-2 text-center">{{ transaction.get_transaction_type_display }}</td>
<td class="border px-4 py-2 text-center">{{ transaction.timestamp }}</td>
<td class="border px-4 py-2 text-center">$ {{ transaction.amount }}</td>
<td class="border px-4 py-2 text-center">$ {{ transaction.balance_after_transaction }}</td>
</tr>
{% endfor %}
<tr class="bg-green-500 text-white">
<th class="px-4 py-2 text-right" colspan="3">Final Balance</th>
<th class="px-4 py-2 text-center">$ {{ account.balance }}</th>
</tr>
</tbody>
</table>




{% if is_paginated %}
  <div class="pagination text-center text-white bg-green-500 mt-1 p-4 ">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current-page">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>
{% endif %}




{% endblock %}



{% block footer_extra %}
    <script type="text/javascript">
        $(function () {
            $('input[name="daterange"]').daterangepicker({
                autoUpdateInput: false,
                locale: {
                    cancelLabel: "Clear",
                },
            });

            $('input[name="daterange"]').on("apply.daterangepicker", function (ev, picker) {
                $(this).val(picker.startDate.format("YYYY-MM-DD") + " - " + picker.endDate.format("YYYY-MM-DD"));
            });

            $('input[name="daterange"]').on("cancel.daterangepicker", function (ev, picker) {
                $(this).val("");
            });
        });
    </script>
{% endblock %}
